<!DOCTYPE html>
<html>
  <head>
    <title>PotatosFloat</title>

    <link rel='icon' type='images/png' sizes='32x32' href="<%= image_path 'favicon_couchsurfing_original.ico' %>" className='myFavicon'/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu|Caveat+Brush|Gochi+Hand|Kaushan+Script|Nunito:700|Open+Sans" rel="stylesheet">
    <script src="https://use.fontawesome.com/ac2f2c7a7a.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
